.react-calendar {
  width: 100% !important;
}

.calender-body {
  background-color: #e7f3f8 !important;
  /* background-color: red; */
}

.react-calendar__tile--active {
  background-color: #fbbc13 !important;
}

.today {
  border: 2px solid #1f1b13 !important;
}

.react-calendar_month-viewdays_day {
  margin: 12px !important;
}

.react-calendar__tile--active:enabled:hover {
  background-color: #fbbc13 !important;
}

.react-calendar__month-view__days__day--weekend {
  color: #1f1b13 !important;
}

.react-calendar__tile--now {
  background-color: transparent !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
  visibility: hidden;
}
